* {
    font-family: 'Fredoka', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero-bg {
    background-image: linear-gradient(rgba(0, 96, 246, 0.7), rgba(0, 0, 0, 0.6)), 
                      url('/static/img/imagen_fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    opacity: 0;
}

.mobile-menu.active {
    max-height: 500px;
    overflow-y: auto;
    opacity: 1;
}

.service-card {
    transition: none;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.service-card:hover {
    transform: none;
    box-shadow: none;
}

.service-card-content {
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.service-card-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: inherit;
    padding: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    overflow: hidden;
}

.service-card:hover .service-card-details {
    opacity: 1;
}

.service-card:hover .service-card-content {
    opacity: 0;
}

.card-info {
    flex-grow: 1;
}

.card-button {
    margin-top: auto;
}

.feature-card {
    transition: box-shadow 0.3s ease; 
}

.feature-card:hover { 
    transform: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* es para Chrome, Safari y Opera */
}

.scrollbar-hide {
    -ms-overflow-style: none; /* es para Internet Explorer y Edge */
    scrollbar-width: none; /* es para Firefox */
}
